.landing{
  background:url(https://picsum.photos/id/307/1920/1080);     
  
}
.container .row > [ class="col" ]{
  padding-top:75px;
  padding-bottom:.12px; 
  background-color: blue;
  border:1px solid #d6afaf;
  columns: #6bb36b;
}
.card {
  max-width: 25%;
  margin:5px 5px;
}
